
@use "../../scss/global.scss" as *;

.searchBar {
	display: flex;
	align-items: center;
	padding: 5px 15px;
	width: fit-content;
	gap: 10px;
	background: white;
	border-radius: 15px;

	.searchIcon {
		color: #6b7280;
	}

	.searchInput {
		appearance: none;
		padding: 10px;
		font-size: 0.95rem;
		color: $primaryCol;
		border: none;
		transition: all 0.3s ease;

		&:focus {
			outline: none;
			//border-color: $primaryCol;
		}

		&::placeholder {
			color: #9ca3af;
		}
	}
}