
@use "../../design-system/scss/global.scss" as *;

#adminTab {

	@extend %flex-col;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	padding: 40px 50px;

	#tabHeader{

		@extend %flex-col;
		width: 100%;
		gap: 10px;

		#row1 {

			display: flex;
			align-items: center;
			justify-content: space-between;
			
			.col1 {

				display: flex;
				gap: 10px;

				#tabTitle {
	
					font-size: 40px;
				}
			}

			#backIco{

				cursor: pointer;
			}
			
		}

		#tabOptions{

			display: flex;
			width: fit-content;
			gap: 10px;
			font-size: 12px;

			.option {

				cursor: pointer;
				padding: 5px 10px;
				border: solid 2px black;
				border-radius: 20px;
				text-align: center;
			}
		}
	}




}

.menuTitle {
  color: #223A6A;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: normal;
}

.infosContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.infos{
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  border-style: solid;
  font-size: 20px;
}

.icons{
  width: 64px;
  height: 64px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emphasis{
  font-size: 40px;
  font-weight: 700;
}