
@use "../../scss/global.scss" as *;

.btn{

	@extend %flex-row-centered;
	cursor: pointer;
	padding: 10px 16px;
	gap: 10px;
	border: 1px solid rgba(30, 54, 100, 0.1);
	border-radius: 10px;
	background-color: white;
	transition: all 0.2s ease;
}