
@use "../../design-system/scss/global.scss" as *;

#loginForm {
  
	@extend %flex-col-centered;
	padding: 30px;
	justify-content: unset;
	gap: 50px;
	background: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	transition: .4s ease;

	&>img {

		width: 90%;
	}

	#pwdWrapper{
		@extend %flex-row-centered;
		position: relative;
	}

	#inputWrapper{

		@extend %flex-col-centered;
		gap: 20px;
		
		input {
	
			padding: 15px;
			width: 25vw;
			color: $primaryCol;
			border: none;
			border-bottom: solid 2px $linkCol;
			background-color: #fff; /* Dark input background */
			transition: all .3s ease;
	
			.error {
				border: 2px solid #d32f2f !important;
			}

			&:focus-visible{

				outline: none;
				scale: 1.05;
			}
		}
	
		.pwdVisibilityIco{
		  position: absolute;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  background-color: transparent;
		  border: none;
		  cursor: pointer;
		  color: #444;
		  right: 3%;
		}

	}

	&:has(input:focus-visible){

		padding: 40px;

	}


	#footerForm{

		@extend %flex-col-centered;
		width: 100%;
		gap: 10px;

		&>* { 

			width: 90%;
			text-align: center;
		}

		button[type=submit] {
	
			cursor: pointer;
			padding: 0.75rem;
			border: none;
			border-radius: 8px;
			background: var(--Primaire, #1E3664);
			color: white;
	
			&:disabled {
				cursor: not-allowed;
				background-color: #555; 
			}
	
			&:hover:not(:disabled) {
				background-color: #005bb5;
			}
		}
	
		#signupLink{
			color: $linkCol;
			text-decoration: none;
			transition: all .3s ease;
	
			&:hover{
				color: #63b3ed;
			}
		}

	}

	.error {
		color: #d32f2f; 
	}

	.errorMessage {
		font-size: 0.875rem;
		margin-top: 0.25rem;
	}
	
}